body {    
    text-align: center;
    margin: 0 20em;
    background: #9aa5cc;
    color: white;
    max-width: 90%;
}

.Titulo h1, h2, h3 {
    color: #12184d;
}

.Titulo h1 {
    font-family:  MEDIEVAL ;
    font-weight: 500;
    font-size: 350%;
    padding-bottom: 0;    
}

.Titulo h2 {
    font-family:  MEDIEVAL ;
    font-weight: 500;
    font-size: 250%;
    padding-top: 3px;
}

.Titulo h3 {
    font-family:  MEDIEVAL ;
    font-weight: 500;
    font-size: 250%;
}
.Cuerpo h3{
    font-family:  MEDIEVAL ;
    padding-bottom: 15px;
    font-size: 200%;
    text-align: center;    
    text-transform: uppercase;
}
p {   
    font-size: 210%;
    max-width: 90rem;
    margin: 0 6em;
    text-align: justify;
    white-space: pre-line;
}
.Opinion h1 {
    font-family:  MEDIEVAL ;
    padding-bottom: 15px;
    font-size: 35px;
    text-align: center;    
    text-transform: uppercase;
} 
.Glosario h2, h3{
    font-family:  MEDIEVAL ;
    padding-bottom: 15px;
    font-size: 200%;
    text-align: center;    
    text-transform: uppercase;
}
.Glosario h3, h2{
    font-family:  MEDIEVAL ;
    padding-bottom: 15px;
    font-size: 200%;
    text-align: center;    
    text-transform: uppercase;
}
dd, dt{
    font-size: 200%;
    max-width: 90rem;
    margin: 0 6em;       
    text-align: justify;
    white-space: pre-line;
}

dt {    
    font-style: italic;
    font-weight: bold;
}
.Extra a{
    text-decoration: none;
    display: block;
    text-align: center;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0;
    font-size: 150%;
    font-family:  MEDIEVAL ;
    color: #000000; 
}

.Comentarios {
    margin: 0 5em;
}

html{
    background: url(fondo3.jpg);
}
